/* CSS reset --------------------------------------------------------------- */

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

/* Page setup -------------------------------------------------------------- */

html {
  --os2g-text:#ccccc0;
  --os2g-bg:#222227;
  --os2g-bg2:#333338;
  --os2g-error:#cc4444;
  --os2g-link:#6677ee;

  --os2g-font-family:Outfit, sans-serif;

  font:13pt var(--os2g-font-family);
  line-height:1.5;
  color:var(--os2g-text);
  background:var(--os2g-bg);
  hyphens:auto;
}

@media (prefers-color-scheme:light) {
  html {
    --os2g-text:#1f271b;
    --os2g-bg:#f9eccc;
    --os2g-bg2:#e8dbbb;
  }
}

body {
  padding:1rem;
  margin:auto;

  max-width:50rem;
  min-height:100vh;

  display:grid;
  grid-template:
    "nav" min-content
    "head" min-content
    "main" 1fr
    "foot" min-content;
  / 1fr;
}

header {
  grid-area:head;

  text-align:center;
}

nav {
  grid-area:nav;

  text-align:center;
}

nav button {
  border-radius:8px;
  border:none;
  background:none;

  color:var(--os2g-link);
  font:1.1rem var(--os2g-font-family);

  padding:0.3rem;
}

nav button:hover {
  background:var(--os2g-bg2);
}

nav button:active {
  color:var(--os2g-text);
  background:var(--os2g-link);
}

main {
  grid-area:main;
}

footer {
  grid-area:foot;

  text-align:center;
  font-size:0.8rem;
}

@media (width > 50rem) {
  body {
    grid-template:
      "head head" min-content
      "main nav" 1fr
      "foot foot" min-content
    / 1fr min-content;
  }

  nav {
    border-left:2px solid var(--os2g-link);
    padding-left:1rem;
    margin-left:1rem;
  }

  nav button {
    display:block;
    width:100%;
  }
}

/* Element formatting ------------------------------------------------------ */

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}

h1, h2, h3, h4, h5, h6, p, li {
  margin-block:0.5rem;
}

a {
  color:var(--os2g-text);
  text-decoration:underline 2px solid var(--os2g-link);
  transition:color 0.2s;

  white-space:nowrap;
}

a:hover {
  color:var(--os2g-link);
}

button {
  cursor:pointer;
}

/* Classes ----------------------------------------------------------------- */

*.text-error {
  color:var(--os2g-error);
}

/* Animations -------------------------------------------------------------- */

@keyframes fadein {
  from {opacity:0;}
  to   {opacity:1;}
}

*.kf-fadein {
  opacity:0;
  animation:fadein 0.5s forwards;
}

@keyframes fromleft {
  from {opacity:0; left:-1rem;}
  to   {opacity:1; left:0;}
}

*.kf-fromleft {
  position:relative;
  animation:fromleft 0.5s;
}

*.kf-fromleft-container > * {
  position:relative;
  animation:fromleft 0.5s;
}

@keyframes fromright {
  from {opacity:0; right:-1rem;}
  to   {opacity:1; right:0;}
}

*.kf-fromright {
  position:relative;
  animation:fromright 0.5s;
}

@keyframes fromtop {
  from {opacity:0; top:-1rem;}
  to   {opacity:1; top:0;}
}

*.kf-fromtop {
  position:relative;
  animation:fromtop 0.5s;
}

@keyframes frombottom {
  from {opacity:0; bottom:-1rem;}
  to   {opacity:1; bottom:0;}
}

*.kf-frombottom {
  position:relative;
  animation:frombottom 0.5s;
}

@keyframes slowfade {
  from {opacity:0;}
  to   {opacity:1;}
}

*.kf-slowfade {
  animation:slowfade 1s;
}

/* Fonts ------------------------------------------------------------------- */

@font-face {
  font-family:Outfit;
  src:url('./fonts/Outfit-Regular.ttf');
}

@font-face {
  font-family:Outfit;
  src:url('./fonts/Outfit-Bold.ttf');
  font-weight:bold;
}
